<!DOCTYPE html>

<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title -->
  <title>Jobs Matcher</title>

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar is-light">
    <div class="navbar-brand">
      <a href= class="navbar-item"><strong>Jobs Matcher</strong></a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a href= class="navbar-item">Search</a>

        <a href= class="navbar-item">Dashboard</a>
        <a href= class="navbar-item">Notifications</a>

        <div class="navbar-item">
          <div class="buttons">

            <a href=class="button is-danger">Log out</a>

            <a href= class="button is-success"><strong>Sign up</strong></a>
            <a href= class="button is-light">Log in</a>

          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Main content -->
  <section class="section">
    <div class="d-flex align-items-center justify-content-center">
      {% block content %}
      {% endblock %}
    </div>

  </section>
  <!-- End Main content -->

</body>

</html>
