
{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

{% include 'status_row.html' %}

<br>

<div class="row">
	<div class="col-md">
		<h5>Candidates: {{total_candidates}}</h5>
		<hr>
		<div class="card card-body">
			<div class="row">
				<div class="col">
					<div class="card card-body">
						<form method="get">
								{{ filter.form }}
					    <button class="btn btn-primary" type="submit">Search</button>
					  </form>
					</div>
				</div>

			</div>
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_candidate' %}">Add Candidate</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>
          <th>Skills</th>
          <th>Job</th>
          <th></th>
          <th></th>

				</tr>
				{% for candidate in candidates %}
					<tr>
            <td><a href="{% url 'candidate' candidate.id %}" class="btn btn-sm btn-info">View</a></td>
						<td>{{candidate.title}}</td>
            <td>
            {% for skill in candidate.skills.all %}
            {{skill.name}}
            {% endfor %}
            </td>
            <td>{{candidate.job}}</td>
            <td><a class="btn btn-sm btn-warning" href="{% url 'update_candidate' candidate.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_candidate' candidate.id %}">Delete</a></td>

					</tr>
				{% endfor %}
			</table>
		</div>
	</div>


</div>
{% endblock content %}
