{% load static %}


<!DOCTYPE html>
<html>

<head>
  <title>Gloat Matcher</title>
  <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    {% block content %}


    {% endblock content %}
  </div>


</body>

</html>
