{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <img style="width:20%" src="{% static 'image\gloat-square.png' %}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h2><a class="nav-link" href="{% url 'dashboard' %}">Gloat Candidates Board</a></h2>
      </li>
    </ul>
  </div>
</nav>
